<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Redes 2</strong>
    <p>Practica 4</p>
    <hr>
    <p>201503935 - Douglas Daniel Aguilar Cuque</p>
    <p>201213283 - Mario Obed Morales Guitz</p>
    <p>201504100 - Christopher Alexander Lopez Orellana</p>
    <hr>
    <a href="en-reporte">Envia Reporte</a>
  </div>
</ion-content>
